.content {
    position: fixed;
    top: 10px; 
    left: 10px;
    right: 10px;
    z-index: 1000;
    height: 80px;
    background-color: rgb(255, 183, 0);
    display: flex;
    width: auto;
    border-radius: 25px;
}

.content div{
    float: left;
}
.content div {
    border-radius: 25px;
    text-align: center;
    font-size: 28px;
    flex: 1;
    text-decoration: none;
    color: white;
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    width: 100px;
    transition: all 0.5s;
}
.content div:hover{
    background-color: rgb(255, 106, 0);
    color: grey;
}
.background {
    position: relative;
    width: 100%;
    display: inline-block;
} 
.background_animal {
    object-fit: cover;
    width: 100%;
} 
.decoration {
    width:30%;
    position: absolute;
    top: 13%;
    left: 35%;
    transition: all 0.5s;
}
.decoration:hover {
    transform: scale(1.5);
}
.background_2 {
    position: relative;
    width: 100%;
    display: inline-block;
}
.background_bowen {
    position: relative;
    object-fit: cover;
    display: inline-block;
    width:100%;
}

body {
   position:absolute;
   top: 90px;
}
.introduction {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bold;
    color: rgb(0, 145, 255);
    text-shadow: 2px 2px 4px #000000;
}
.introduction_section1 {
    position: relative;
    background-color: white;
    border: 5px solid grey;
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 30px;
    height: auto;
    transition: all 0.5s;
}
.introduction_section1:hover {
    transform: scale(1.05);
}
.introduction_title {
    display: block;
    width: 60%;
    text-indent: 80px;
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
}
.introduction_subtitle {
    display: block;
    width: 60%;
    text-indent: 40px;
    font-weight: bold;
    font-style: italic;
    color: rgb(0, 153, 255);
    font-size: 50px;
    margin-top: 10px;
}
.introduction_content1 {
    display: block;
    width: 60%;
    text-indent: 40px;
    font-size: 30px;
    margin-top: 20px;
}
.introduction_content2 {
    display: block;
    width: 60%;
    text-indent: 40px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.introduction_image1 {
    display: block;
    position: absolute;
    width: 33%;
    margin: auto;
    left:65%;
    top: 10%;
    transition: all 0.5s;
}
.introduction_image1:hover {
    transform: rotate(-30deg);
}
.introduction_section2 {
    position: relative;
    top: 30px;
    background-color: white;
    border: 5px solid grey;
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 30px;
    transition: all 0.5s;
}
.introduction_section2:hover {
    transform: scale(1.05);
}
.introduction_title2 {
    display: block;
    width: 60%;
    margin-left: 35%;
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
}
.introduction_subtitle2 {
    display: block;
    width: 60%;
    margin-left: 35%;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 132, 210);
    font-size: 50px;
    margin-top: 10px;
}
.introduction_content3 {
    display: block;
    width: 60%;
    margin-left: 35%;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.introduction_image2 {
    display: block;
    position: absolute;
    width: 33%;
    margin: auto;
    right: 65%;
    top: 10%;
    transition: all 0.5s;
}
.introduction_image2:hover {
    transform: rotate(30deg);
}
.introduction_section3 {
    position: relative;
    top: 60px;
    background-color: white;
    border: 5px solid grey;
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 30px;
    transition: all 0.5s;
}
.introduction_section3:hover {
    transform: scale(1.05);
}
.introduction_title3 {
    display: block;
    width: 60%;
    text-indent: 80px;
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
}
.introduction_subtitle3 {
    display: block;
    width: 60%;
    text-indent: 40px;
    font-weight: bold;
    font-style: italic;
    color: rgb(0, 255, 150);
    font-size: 50px;
    margin-top: 10px;
}
.introduction_content4 {
    display: block;
    width: 60%;
    text-indent: 40px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.introduction_image3 {
    display: block;
    position: absolute;
    width: 33%;
    margin: auto;
    left:65%;
    top: 7%;
    transition: all 0.5s;
}
.introduction_image3:hover {
    transform: rotate(-30deg);
}