.content {
    position: fixed;
    top: 10px; 
    left: 10px;
    right: 10px;
    z-index: 1000;
    height: 80px;
    background-color: rgb(255, 183, 0);
    display: flex;
    width: auto;
    border-radius: 25px;
}

.content div{
    float: left;
}
.content div {
    border-radius: 25px;
    text-align: center;
    font-size: 28px;
    flex: 1;
    text-decoration: none;
    color: white;
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    width: 100px;
    transition: all 0.5s;
}
.content div:hover{
    background-color: rgb(255, 106, 0);
    color: grey;
}
.background {
    position: relative;
    width: 100%;
    display: inline-block;
} 
.background_animal {
    object-fit: cover;
    width: 100%;
} 
.decoration {
    width:30%;
    position: absolute;
    top: 13%;
    left: 35%;
    transition: all 0.5s;
}
.decoration:hover {
    transform: scale(1.5);
}
.background_2 {
    position: relative;
    width: 100%;
    display: inline-block;
}
.background_bowen {
    position: relative;
    object-fit: cover;
    display: inline-block;
    width:100%;
}

body {
   position:absolute;
   top: 90px;
}
.introduction {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bold;
    color: rgb(0, 145, 255);
    text-shadow: 2px 2px 4px #000000;
}
.introduction_section1 {
    position: relative;
    background-color: white;
    border: 5px solid grey;
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 30px;
    transition: all 0.5s;
}
.introduction_section1:hover {
    transform: scale(1.05);
}
.introduction_title {
    display: block;
    width: 60%;
    text-indent: 80px;
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
}
.introduction_subtitle {
    display: block;
    width: 60%;
    text-indent: 40px;
    font-weight: bold;
    font-style: italic;
    color: rgb(0, 153, 255);
    font-size: 50px;
    margin-top: 10px;
}
.introduction_content1 {
    display: block;
    width: 60%;
    text-indent: 40px;
    font-size: 30px;
    margin-top: 20px;
}
.introduction_content2 {
    display: block;
    width: 60%;
    text-indent: 40px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.introduction_image1 {
    display: block;
    position: absolute;
    width: 33%;
    max-height: 80%;
    object-fit: cover;
    margin: auto;
    left:65%;
    top: 10%;
    transition: all 0.5s;
}
.introduction_image1:hover {
    transform: rotate(-30deg);
}
.introduction_section2 {
    position: relative;
    top: 30px;
    background-color: white;
    border: 5px solid grey;
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 30px;
    transition: all 0.5s;
}
.introduction_section2:hover {
    transform: scale(1.05);
}
.introduction_title2 {
    display: block;
    width: 60%;
    margin-left: 35%;
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
}
.introduction_subtitle2 {
    display: block;
    width: 60%;
    margin-left: 35%;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 132, 210);
    font-size: 50px;
    margin-top: 10px;
}
.introduction_content3 {
    display: block;
    width: 60%;
    margin-left: 35%;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.introduction_image2 {
    display: block;
    position: absolute;
    width: 33%;
    object-fit: cover;
    margin: auto;
    max-height: 80%;
    right: 65%;
    top: 10%;
    transition: all 0.5s;
}
.introduction_image2:hover {
    transform: rotate(30deg);
}
.introduction_section3 {
    position: relative;
    top: 60px;
    background-color: white;
    border: 5px solid grey;
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 30px;
    transition: all 0.5s;
}
.introduction_section3:hover {
    transform: scale(1.05);
}
.introduction_title3 {
    display: block;
    width: 60%;
    text-indent: 80px;
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
}
.introduction_subtitle3 {
    display: block;
    width: 60%;
    text-indent: 40px;
    font-weight: bold;
    font-style: italic;
    color: rgb(0, 255, 150);
    font-size: 50px;
    margin-top: 10px;
}
.introduction_content4 {
    display: block;
    width: 60%;
    text-indent: 40px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.introduction_image3 {
    display: block;
    position: absolute;
    width: 33%;
    max-height: 80%;
    object-fit: cover;
    margin: auto;
    left:65%;
    top: 7%;
    transition: all 0.5s;
}
.introduction_image3:hover {
    transform: rotate(-30deg);
}
.introduction_section4 {
    position: relative;
    top: 90px;
    background-color: white;
    border: 5px solid grey;
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 30px;
    transition: all 0.5s;
}
.introduction_section4:hover {
    transform: scale(1.05);
}
.introduction_title4 {
    display: block;
    width: 60%;
    text-indent: 80px;
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
}
.introduction_subtitle4 {
    display: block;
    width: 60%;
    text-indent: 40px;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 0, 0);
    font-size: 50px;
    margin-top: 10px;
}
.introduction_content5 {
    display: block;
    width: 60%;
    text-indent: 40px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.introduction_image4 {
    display: block;
    position: absolute;
    width: 33%;
    max-height: 80%;
    object-fit: cover;
    margin: auto;
    left:65%;
    top: 7%;
    transition: all 0.5s;
}
.introduction_image4:hover {
    transform: rotate(-30deg);
}
.about_us {
    position: relative;
    top: 120px;
    background-color: white;
    border: 7px solid grey;
    width: 80%;
    height: 1000px;
    margin: auto;
    border-radius: 30px;
}
.about_title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    padding-top: 20px;
    color:rgb(182, 177, 177)
}
.about_image1 {
    display: block;
    position: absolute;
    top: -20px;
    width: 30%;
    height: auto;
}
.about_image2 {
    display: block;
    position: absolute;
    top: -20px;
    right: 0;
    width: 30%;
    height: auto;
}
.about_image_1 {
    display: block;
    position: absolute;
    top: 95%;
    right: 0;
    width: 30%;
    height: auto;
}
.about_image_2 {
    display: block;
    position: absolute;
    top: 95%;
    left: 0;
    width: 30%;
    height: auto;
}
.about_image6 {
    display: block;
    position: absolute;
    top: 70%;
    right: 0;
    width: 20%;
    height: auto;
    transition: all 0.5s;
}
.about_image6:hover {
    transform: scale(1.2);
}
.about_content1 {
   position: absolute;
    top: 20%;
    left: 10%;
    background-color: white;
    border: 7px solid rgb(146, 0, 175);
    width: 18%;
    height: 70%;
    margin: auto;
    border-radius: 40px;
    transition: all 0.5s;
}
.about_content2 {
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: white;
    border: 7px solid rgb(146, 0, 175);
    width: 18%;
    height: 70%;
    margin: auto;
    border-radius: 40px;
    transition: all 0.5s;
}
.about_content3 {
position: absolute;
    top: 20%;
    left: 70%;
    background-color: white;
    border: 7px solid rgb(146, 0, 175);
    width: 18%;
    height: 70%;
    margin: auto;
    border-radius: 40px;
    transition: all 0.5s;
}
.about_content1:hover,
.about_content2:hover,
.about_content3:hover {
    transform: scale(1.05);
}
.about_image3,
.about_image4,
.about_image5 {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.about_thing1,
.about_thing2,
.about_thing3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}
.contact_us {
    position: relative;
    top: 300px;
    background-color: white;
    border: 7px solid rgb(105, 152, 140);
    width: 80%;
    height:1000px;
    margin: auto;
    border-radius: 30px;
}
.contact_title {
    text-align: center;
    font-size: 70px;
    padding-top: 20px;
    color:rgb(47, 106, 57)
}
.contact_image1 {
    display: block;
    position: absolute;
    top:-5%;
    left: 0;
    width: 30%;
}
.contact_image2 {
    display: block;
    position: absolute;
    top:auto;
    right: 0;
    width: 15%;
}
.contact_image3 {
    display: block;
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 50%;
}
.contact_image4 {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
}

.contact_content {
    position: absolute;
    width: 60%;
    top: 20%;
    left: 20%;
    font-size: 30px;
    font-weight: bold;
}
.contact_content1 {
    position: absolute;
    width: 60%;
    top: 70%;
    left: 10%;
    font-size: 30px;
    color: grey;
}
.contact_button {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    gap: 40px;
    font-weight: bold;
    color: rgb(0, 255, 55);
    display: flex;
    width: auto;
    border-radius: 25px;
}
.contact_button div{
    float: left;
}
.contact_button div {
    border-radius: 25px;
    text-align: center;
    font-size: 50%;
    flex: 1;
    text-decoration: none;
    background-color: green;
    color: rgb(255, 255, 255);
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 60px;
    width: 100px;
    transition: all 0.5s;
}
.contact_button div:hover{
    transform: scale(1.05);
    background-color: rgb(35, 124, 0);
    color: rgb(164, 164, 164);
}